body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Blinker", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 150px 0px 150px;
    font-size: 18px;
}

.tables {
    display: flex;
}

.left-table {
    width: 35%;
    background-color: #c0c0c0;
}

.right-table {
    width: 65%;
    background-color: #dde4e9;
    padding-left: 60px;
}

.header-name {
    text-align: center;
    background-color: #333;
    color: #f0ae00;
}

.contacts li {
    list-style: none;

}

.contacts a {
    text-decoration: none;
    color: #000;
}

.contacts-img {
    margin-right: 15px;
    vertical-align: middle;
}

.title {
    margin: 50px 0px 100px 0px;
    text-align: center;
}

.title img {
    border-radius: 50%;
}

header img {
    margin-bottom: 15px;
}

.section li {
    margin-left: 30px;
}



aside h3 {
    border-bottom: 2px solid #f0ae00;

    padding-left: 30px;

}

















aside h1 {
    font-size: 40px;
    margin-top: 120px;
    padding: 0px 0px 0px 40px;
    color: #333;
}

aside h2 {
    font-size: 25px;
    margin: -30px 0px 200px 0px;
    padding-left: 48px;
    color: #333;
}








.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.nav-list a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #f0ae00;
}

.nav-link {
    line-height: 50px;
    transition: .3s;
}

footer {
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.github-icon {
    margin-right: 10px;


}

.github {
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}